:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

img.rt-AvatarImage {
  object-fit: scale-down;
}

.rt-BaseTabListTrigger:where([data-state='active']),
[data-active] {
  font-weight: bold;
}

.radix-themes.dark {
  --green-a11: #64bb3c;
  --green-indicator: var(--green-a11);
  --red-a11: #8b231b;
  --red-indicator: var(--red-a11);
  --orange-a11: #e89b3c;
  --orange-indicator: var(--orange-a11);
  --yellow-a11: #fcfe58;
}
